@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --background: #fff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: white;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  color: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans KR", serif;
  color: rosybrown;
  background-position: fixed;
}
